.text--uppercase {
  text-transform: uppercase;
}

.text--capitalize {
  text-transform: capitalize;
}

.text--underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text--success {
  color: green;
}
.text--danger {
  color: #E63232;
}
.text--warning {
  color: #d2500d;
}
.text--semi-bold {
  font-weight: 600;
}
.text--bold {
  font-weight: 700;
}
.text-nowrap {
  white-space: nowrap;
}
.text-breakall {
  word-break: break-all;
}
.text--leadid {
  color: #00667F;
  font-weight: 900;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .text-left-md {
    text-align: left;
  }
}

.content-text {
  font-size: 16px;
  line-height: 1.35;
}
@media (min-width: 576px) {
  .content-text {
    font-size: 1.15rem;
  }
}
.content-text h1,
.content-text h2,
.content-text h3,
.content-text h4,
.content-text h5,
.content-text h6 {
  margin-bottom: 0.75rem;
  margin-top: 2.5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
  text-align: center;
}
.content-text h1 {
  font-size: 2.5rem;
}
.content-text h2 {
  font-size: 1.75rem;
}
@media (min-width: 768px) {
  .content-text h2 {
    font-size: 2rem;
  }
}
.content-text h3 {
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .content-text h3 {
    font-size: 1.75rem;
  }
}
.content-text h4 {
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  .content-text h4 {
    font-size: 1.5rem;
  }
}
.content-text h5 {
  font-size: 1.05rem;
}
@media (min-width: 768px) {
  .content-text h5 {
    font-size: 1.75rem;
  }
}
.content-text h6 {
  font-size: 1rem;
}
.content-text li {
  margin-bottom: 0.75rem;
}
.content-text p,
.content-text ul,
.content-text ol {
  margin-bottom: 1.25rem;
}
.content-text :first-child {
  margin-top: 0;
}
.content-text :last-child {
  margin-bottom: 0;
}

@keyframes shakeX {
  from, to {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
.shakeX {
  animation-name: shakeX;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

.control-label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
  user-select: none;
}
@media (min-width: 768px) {
  .control-label {
    font-size: 17px;
  }
}

.form-group {
  margin-bottom: 20px;
}

.form-control::-webkit-input-placeholder {
  opacity: 0.75;
}
.form-control:-moz-placeholder {
  opacity: 0.75;
}
.form-control::-moz-placeholder {
  opacity: 0.75;
}
.form-control:-ms-input-placeholder {
  opacity: 0.75;
}
.form-control:focus::-webkit-input-placeholder {
  opacity: 0.35;
}
.form-control:focus:-moz-placeholder {
  opacity: 0.35;
}
.form-control:focus::-moz-placeholder {
  opacity: 0.35;
}
.form-control:focus:-ms-input-placeholder {
  opacity: 0.35;
}
.form-control.error {
  border-color: rgb(208, 3, 3);
}

label.error {
  margin-top: 3px;
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: rgba(208, 3, 3, 0.8);
}

.has-valid .form-control {
  border-color: #00b300;
  background-color: rgba(0, 128, 0, 0.1);
  box-shadow: 0 0 1px 1px #00b300;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.is-hide {
  display: none !important;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-100 {
  width: 100%;
}

@media (max-width: 767px) {
  .hidden-then-md {
    display: none;
  }
}

@media (min-width: 768px) {
  .visible-then-md {
    display: none;
  }
}

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  opacity: 0;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body {
    opacity: 1;
  }
}

a {
  color: #00a3ff;
  text-decoration: underline;
}
a:hover {
  color: #0082cc;
}

picture {
  display: block;
}

.wrapper-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper-page > * {
  width: 100%;
}
.wrapper-page .main-page {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

/* purgecss start ignore */
/* purgecss end ignore */
/*# sourceMappingURL=site.css.map */
