@@include('../components/_header-page.html', {
    "title": "Privacy Policy"
})

<main class="main-page content-page">
    <div class="container">
        <h1 class="content-page-title text-center">Privacy Policy</h1>
        <div class="content-text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima velit odit corrupti porro ab, assumenda corporis. Beatae pariatur, ipsam repellat a temporibus exercitationem consectetur, molestiae praesentium eius tenetur sint excepturi.
            </p>

            <h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </h2>
            <p>
                Fugit pariatur quo tempora placeat optio consequuntur, magni ipsam culpa mollitia incidunt maxime qui possimus. Quam dolorem iusto aliquam dignissimos cumque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis accusamus nihil ipsum ipsa tempore inventore, tempora blanditiis quibusdam, aliquam sed officiis sunt autem impedit, mollitia vel! Cumque repudiandae fugit velit?
            </p>

            <ul>
                <li>
                    Fugit pariatur quo tempora placeat optio consequuntur, magni ipsam culpa mollitia incidunt maxime qui possimus. Quam dolorem iusto aliquam dignissimos cumque. Consequatur.
                </li>

                <li>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse numquam nulla iste sunt consectetur. Quae quibusdam enim dignissimos maxime nesciunt rem, perferendis, hic repellendus laudantium qui doloribus quidem libero repudiandae!
                </li>

                <li>
                    At delectus, dolore pariatur quis dolores minus omnis quidem. Deleniti, nulla error? Incidunt eaque nam quis natus ex delectus odit quo labore.
                </li>
            </ul>

            <h2>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </h2>
            <p>
                A porro minima, alias fugit facilis repellendus consequuntur deleniti labore maiores, ratione animi eveniet. Nam quis laudantium iste, temporibus nihil provident nemo!
            </p>
        </div>
    </div>
</main>

@@include('../components/_footer-page.html')